@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 170, 180, 199;
  --background-end-rgb: 236, 243, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-dark {
  background: rgb(var(--background-start-rgb)); 
}

.bg-light {
  background: rgb(var(--background-end-rgb)); 
}

.bg-gen {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));  
}

